<div class="flex-title" data-controller="tooltip">
  <h3>Applicant Details</h3>
  <%= link_to t('view.common.new'), new_batch_applicant_path, class: 'btn-sm btn btn-primary' %>
</div>
<br>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="table table-bordered table-striped table-hover text-center">
    <thead>
    <tr>
      <th>Name</th>
      <th>Contact No.</th>
      <th>Email</th>
      <th>Application Date</th>
      <th>Interview/Text Date</th>
      <th>Status</th>
      <th>Call Logs</th>
      <th>Remarks</th>
      <th>Sourcing Channel</th>
    </tr>
    </thead>
    <tbody>
    <% @batch_applicants.each do |batch_applicant| %>
      <% interview = batch_applicant.interview %>
      <tr>
        <td>
          <%= link_to batch_applicant.applicant.name, batch_applicant.resume_link, target: '_blank' %>
          <%= link_to 'Application Record', applicant_batches_path(batch_applicant.applicant),
                      class: 'badge bg-primary' if batch_applicant.applicant.batches.size > 1 %>
        </td>
        <td><%= batch_applicant.applicant.phone %></td>
        <td><%= batch_applicant.applicant.email %></td>
        <td>
          <%= batch_applicant.application_date&.strftime('%B %d, %Y') %>
        </td>
        <td>
          <%= interview.interview_date&.strftime('%B %d, %Y') %>
        </td>
        <td>
          <%= interview.status %>
          <div class="btn-group">
            <%= button_to "Pass", pass_batch_applicant_path(batch_applicant), method: :put,
                          class: 'btn-sm btn btn-success rounded-pill me-2' if interview.may_pass? %>
            <%= button_to "Decline", decline_batch_applicant_path(batch_applicant), method: :put,
                          class: 'btn-sm btn btn-warning rounded-pill me-2' if interview.may_decline? %>
            <%= button_to "Fail", fail_batch_applicant_path(batch_applicant), method: :put,
                          class: 'btn-sm btn btn-danger rounded-pill' if interview.may_fail? %>
          </div>
        </td>
        <td>
          <% call_logs = interview.call_logs %>
          <% if call_logs.present? %>
            <% if call_logs.size > 1 %>
              <span class="badge bg-<%= change_color(call_logs) %>">
                <%= call_logs.size %>
              </span>
              <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="<%= call_logs.recent_logs.join("\n") %>">
                <%= call_logs.last.date_and_remarks %>
              </span>
            <% else %>
              <%= call_logs.last.date_and_remarks %>
            <% end %>
          <% end %>

          <%= link_to 'javascript:void(0)', class: 'btn-sm btn-sm btn btn-success',
                      data: { bs_toggle: :modal, bs_target: "#addDate_#{batch_applicant.id}" } do %>
            <i class="bi bi-plus-lg"></i>
          <% end %>
          <% if call_logs.present? %>
            <%= link_to 'javascript:void(0)', class: 'btn-sm btn-sm btn btn-warning',
                        data: { bs_toggle: :modal, bs_target: "#updateDate_#{call_logs.last.id}" } do %>
              <i class="bi bi-pencil"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if interview.remarks.present? %>
            <%= turbo_frame_tag dom_id(batch_applicant, :remarks) do %>
              <%= link_to edit_batch_applicant_path(batch_applicant) do %>
                <% if interview.remarks.length > 16 %>
                  <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="<%= interview.remarks %>">
                    <%= interview.remarks[0, 14] %>...
                  </span>
                <% else %>
                  <%= interview.remarks %>
                <% end %>
              <% end %>
            <% end %>
          <% else %>
            <%= turbo_frame_tag dom_id(batch_applicant, :remarks) do %>
              <%= link_to 'Add Remarks', edit_batch_applicant_path(batch_applicant), class: 'btn-sm btn btn-success' %>
            <% end %>
          <% end %>
        </td>
        <td><%= batch_applicant.sourcing_channel %></td>
      </tr>

      <%= render 'batch_applicants/add_call_logs', call_log: @call_log, batch_applicant: batch_applicant %>
      <% if call_logs.present? %>
        <%= render 'batch_applicants/update_call_logs', batch_applicant: batch_applicant, call_logs: call_logs, call_log: call_logs.last %>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>