<div class="flex-title">
  <h3><%= "#{Phase::GemCamp.model_name.human} #{t('view.common.management')}" %></h3>
</div>
<br>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="table table-bordered table-striped table-hover text-center">
    <thead>
    <tr>
      <th><%= Applicant.human_attribute_name(:name) %></th>
      <th><%= Applicant.human_attribute_name(:contact_no) %></th>
      <th><%= Applicant.human_attribute_name(:email) %></th>
      <th><%= Phase::GemCamp.human_attribute_name(:pre_class_date) %></th>
      <th><%= Phase::GemCamp.human_attribute_name(:letter_type) %></th>
      <th><%= Phase::GemCamp.human_attribute_name(:signed_via) %></th>
      <th><%= Phase::GemCamp.human_attribute_name(:sent_at) %></th>
      <th><%= Phase::GemCamp.human_attribute_name(:reply_at) %></th>
      <th><%= Phase::GemCamp.human_attribute_name(:status) %></th>
      <th><%= Phase::GemCamp.human_attribute_name(:notes) %></th>
    </tr>
    </thead>
    <tbody>
    <% @gem_camps.each do |gem_camp| %>
      <% applicant_batch = gem_camp.applicant_batch_ship %>
      <tr>
        <td>
          <%= link_to applicant_batch.applicant.name, applicant_batch.resume_link, target: '_blank' %>
        </td>
        <td><%= applicant_batch.applicant.phone %></td>
        <td><%= applicant_batch.applicant.email %></td>
        <td>
          <% if gem_camp.pre_class_date&.present? %>
            <%= turbo_frame_tag dom_id(gem_camp, :pre_class_date) do %>
              <%= link_to edit_gem_camp_path(id: gem_camp.id, column: :pre_class_date) do %>
                <%= gem_camp.pre_class_date&.strftime('%B %d, %Y') %>
              <% end %>
            <% end %>
          <% else %>
            <%= turbo_frame_tag dom_id(gem_camp, :pre_class_date) do %>
              <%= link_to "#{t('view.common.select')} #{Phase::GemCamp.human_attribute_name(:pre_class_date)}",
                          edit_gem_camp_path(id: gem_camp.id, column: :pre_class_date),
                          class: 'btn-sm btn btn-success' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if gem_camp.letter_type&.present? %>
            <%= turbo_frame_tag dom_id(gem_camp, :letter_type) do %>
              <%= link_to edit_gem_camp_path(id: gem_camp.id, column: :letter_type) do %>
                <%= Phase::GemCamp.human_attribute_name("letter_type.#{gem_camp.letter_type}") %>
              <% end %>
            <% end %>
          <% else %>
            <%= turbo_frame_tag dom_id(gem_camp, :letter_type) do %>
              <%= link_to "#{t('view.common.select')} #{Phase::GemCamp.human_attribute_name(:letter_type)}",
                          edit_gem_camp_path(id: gem_camp.id, column: :letter_type),
                          class: 'btn-sm btn btn-success' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if gem_camp.signed_via&.present? %>
            <%= turbo_frame_tag dom_id(gem_camp, :signed_via) do %>
              <%= link_to edit_gem_camp_path(id: gem_camp.id, column: :signed_via) do %>
                <%= Phase::GemCamp.human_attribute_name("signed_via.#{gem_camp.signed_via}") %>
              <% end %>
            <% end %>
          <% else %>
            <%= turbo_frame_tag dom_id(gem_camp, :signed_via) do %>
              <%= link_to "#{t('view.common.select')} #{t('view.common.sign_method')}",
                          edit_gem_camp_path(id: gem_camp.id, column: :signed_via),
                          class: 'btn-sm btn btn-success' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if gem_camp.sent_at&.present? %>
            <%= turbo_frame_tag dom_id(gem_camp, :sent_at) do %>
              <%= link_to edit_gem_camp_path(id: gem_camp.id, column: :sent_at) do %>
                <%= gem_camp.sent_at&.strftime('%B %d, %Y') %>
              <% end %>
            <% end %>
          <% else %>
            <%= turbo_frame_tag dom_id(gem_camp, :sent_at) do %>
              <%= link_to "#{t('view.common.select')} #{t('view.common.send_date')}",
                          edit_gem_camp_path(id: gem_camp.id, column: :sent_at),
                          class: 'btn-sm btn btn-success' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if gem_camp.reply_at&.present? %>
            <%= turbo_frame_tag dom_id(gem_camp, :reply_at) do %>
              <%= link_to edit_gem_camp_path(id: gem_camp.id, column: :reply_at) do %>
                <%= gem_camp.reply_at&.strftime('%B %d, %Y') %>
              <% end %>
            <% end %>
          <% else %>
            <%= turbo_frame_tag dom_id(gem_camp, :reply_at) do %>
              <%= link_to "#{t('view.common.select')} #{t('view.common.reply_date')}",
                          edit_gem_camp_path(id: gem_camp.id, column: :reply_at),
                          class: 'btn-sm btn btn-success' %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= gem_camp.status %>
          <div class="btn-group">
            <%= button_to t('view.common.confirm'),
                          confirm_gem_camp_path(gem_camp),
                          method: :put,
                          class: 'btn-sm btn btn-success rounded-pill me-2' if gem_camp.may_confirm? %>
            <%= button_to t('view.common.decline'),
                          decline_gem_camp_path(gem_camp),
                          method: :put,
                          class: 'btn-sm btn btn-secondary rounded-pill me-2' if gem_camp.may_decline? %>
            <%= button_to t('view.common.deliver'),
                          deliver_gem_camp_path(gem_camp),
                          method: :put,
                          class: 'btn-sm btn btn-warning rounded-pill me-2' if gem_camp.may_deliver? %>
          </div>
        </td>
        <td>
          <% if gem_camp.notes&.present? %>
            <%= turbo_frame_tag dom_id(gem_camp, :notes) do %>
              <%= link_to edit_gem_camp_path(id: gem_camp.id, column: :notes) do %>
                <%= gem_camp.notes %>
              <% end %>
            <% end %>
          <% else %>
            <%= turbo_frame_tag dom_id(gem_camp, :notes) do %>
              <%= link_to "#{t('view.common.add')} #{Phase::GemCamp.human_attribute_name(:notes)}",
                          edit_gem_camp_path(id: gem_camp.id, column: :notes),
                          class: 'btn-sm btn btn-success' %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>