<% column = params[:column]&.to_sym %>
<%= turbo_frame_tag dom_id(@pre_class_schedule, column) do %>
  <%= form_with model: @pre_class_schedule, url: pre_class_schedule_path(@pre_class_schedule, column: column),
                method: :put, data: { turbo: false }, html: { class: 'form' } do |f| %>
    <div class="modal-body">
      <div class="form-group">
        <% if column == :notes %>
          <%= f.text_area :notes, rows: '3', class: 'form-control', placeholder: Phase::PreClassSchedule.human_attribute_name(:notes) %>
        <% else %>
          <%= f.datetime_field column, class: 'form-control' %>
        <% end %>
      </div>
    </div>
    <div class="modal-footer mt-2">
      <%= link_to 'Cancel', pre_class_schedules_path, class: 'btn-sm btn btn-danger me-2' %>
      <%= f.submit t('view.common.save'), class: 'btn-sm btn btn-primary' %>
    </div>
  <% end %>
<% end %>