<div class="flex-title">
  <h3><%= "#{Applicant.model_name.human} #{t('view.common.details')}" %></h3>
  <%= link_to t('view.common.new'), new_applicant_path, class: 'btn-sm btn btn-primary' %>
</div>
<br>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="table table-bordered table-striped table-hover text-center">
    <thead>
    <tr>
      <th><%= Applicant.human_attribute_name(:name) %></th>
      <th><%= Applicant.human_attribute_name(:contact_no) %></th>
      <th><%= Applicant.human_attribute_name(:created_at) %></th>
      <th><%= Applicant.human_attribute_name(:email) %></th>
      <th><%= t('view.common.action') %></th>
    </tr>
    </thead>
    <tbody>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.name %></td>
        <td><%= applicant.phone %></td>
        <td><%= applicant.created_at.strftime('%B %d, %Y') %></td>
        <td><%= applicant.email %></td>
        <td>
          <%= link_to t('view.common.edit'),
                      edit_applicant_path(applicant),
                      class: 'btn-sm btn btn-success' %>
          <%= link_to t('view.common.delete'),
                      applicant_path(applicant),
                      data: { 'turbo-method': :delete, 'turbo_confirm': t('view.common.delete_confirm') },
                      class: 'btn-sm btn btn-danger' %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>