<%= form_for applicant, url: url, method: method, html: { class: 'border rounded w-100 my-3 p-3' }, data: { turbo: 'false' } do |f| %>
  <%= render 'shared/error_messages', resource: applicant %>

  <div class="mb-3">
    <%= f.label :name, Applicant.human_attribute_name(:name), class: 'form-label' %>
    <%= f.text_field :name, { required: true, class: 'form-control', placeholder: 'Name' } %>
  </div>

  <div class="mb-3">
    <%= f.label :phone, Applicant.human_attribute_name(:phone), class: 'form-label' %>
    <%= f.text_field :phone, { required: true, class: 'form-control', placeholder: 'Phone Number' } %>
  </div>

  <div class="mb-3">
    <%#= label_tag :batch, Batch.model_name.human %>
    <%#= select_tag :batch_id, options_for_select(Batch.batch_status, params[:batch_id]), prompt: t('view.common.all'), class: 'form-control' %>
    <%= hidden_field_tag :batch_id, Batch.batch_status %>
  </div>

<!--  <div class="mb-3">-->
    <%#= label_tag Applicant.human_attribute_name(:remarks) %>
    <%#= text_area_tag :remarks, nil, class: 'form-control' %>
<!--  </div>-->

<!--  <div class="mb-3">-->
    <%#= label_tag :status, BatchApplicant.human_attribute_name(:status) %>
    <%#= select_tag :status, options_for_select(BatchApplicant.aasm.states_for_select, params[:status]), prompt: t('view.common.all'), class: 'form-control' %>
<!--  </div>-->

  <div class="mb-3">
    <%= f.label Applicant.human_attribute_name(:email) %>
    <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="form-group">
    <%= f.submit submit_text, class: 'btn btn-secondary' %>
  </div>
<% end %>
