<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <div class="container-fluid">
    <div class="row">
      <% if current_user %>
        <%= render 'layouts/users/navbar' %>
        <%= render 'layouts/users/sidebar' %>
      <% end %>
      <div class="col m-3">
        <%= render 'layouts/users/flash' %>
        <%= yield %>
      </div>
    </div>
  </div>
  </body>
</html>
